<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Hone</title>
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
    <%# <link rel="stylesheet" href="<%= static_path(@conn, "/css/lib/font-awesome.min.css") %1>"> %>
    <%# <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"> %>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/lib/pure-min.css") %>">
    <%# <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css"> %>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/lib/grids-responsive-min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Exo|Nunito" rel="stylesheet">
    <script src="<%= static_path(@conn, "/js/app.js") %>" async defer></script>
  </head>

  <body>
    <div id="layout">
      <div id="menu">
        <div class="pure-menu">
          <a class="pure-menu-heading" href="#">hone</a>

          <ul class="pure-menu-list">
            <li class="pure-menu-item">
              <a href="#" class="pure-menu-link">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </a>
            </li>
            <li class="pure-menu-item">
              <a href="#" class="pure-menu-link">
                <i class="fa fa-cubes" aria-hidden="true"></i> <!-- aka Layers -->
              </a>
            </li>
            <li class="pure-menu-item">
              <a href="#" class="pure-menu-link">
                <i class="fa fa-search" aria-hidden="true"></i>
              </a>
            </li>
            <li class="pure-menu-item" class="menu-item-divided pure-menu-selected">
              <a href="#" class="pure-menu-link">
                <i class="fa fa-tags" aria-hidden="true"></i>
              </a>
            </li>
            <li class="pure-menu-item" class="menu-item-divided pure-menu-selected">
              <a href="#" class="pure-menu-link">
                <i class="fa fa-comments-o" aria-hidden="true"></i>
              </a>
            </li>
            <li class="pure-menu-item">
              <a href="#" class="pure-menu-link">
                <i class="fa fa-suitcase" aria-hidden="true"></i>
              </a>
            </li>
            <li class="pure-menu-item">
              <a href="#" class="pure-menu-link">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </li>
            <li class="pure-menu-item">
              <a href="#" class="pure-menu-link">
                <i class="fa fa-cogs" aria-hidden="true"></i>
              </a>
            </li>
            <li class="pure-menu-item">
              <a href="#" class="pure-menu-link">
                <i class="fa fa-user" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div id="main">
        <!-- TODO: might be better to re-do this as `display: table` to easily allow sticky menus -->
        <!-- WARN: introduces an issue where zooming past 125% in Chrome causes the settings side bar to disappear. Stems from .area (try commenting it out. works at 3e8c7c) -->
        <div class="area">
          <div class="actions">
            <!-- TODO: flexify this so the middle li can be way larger -->
            <ul>
              <li class="info breadcrumb">Project > Board</li>
              <li class="controls">
                <div class="group">
                  <i class="fa fa-list-alt" aria-hidden="true"></i>
                  <i class="fa fa-table" aria-hidden="true"></i>
                </div>
                <div class="group">
                  <i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
                  <i class="fa fa-hand-scissors-o" aria-hidden="true"></i>
                  <i class="fa fa-files-o" aria-hidden="true"></i>
                  <i class="fa fa-clipboard" aria-hidden="true"></i>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  <i class="fa fa-tag" aria-hidden="true"></i>
                </div>
              </li>
              <li class="info notifications">
                <i class="fa fa-feed" style="color: #9feae1;" aria-hidden="true"></i> No new updates
              </li>
            </ul>
          </div>

          <div class="board noselect">
            <%= for stage <- ["Review", "Backlog", "Developing", "Dev Complete", "PR Open", "Merged", "Testing", "Closed"] do %>
            <div class="stage">
              <div class="label">
                <%# <h3>Product Review</h3> %>
                <h3><%= stage %></h3>
              </div>
              <%= for _id <- 1..Enum.random(1..10) do %>
              <div class="unit">
                <div class="banner">
                  <div class="id">#<%= :random.uniform(250) %></div>
                  <div class="controls">
                    <a href>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </a>
                    <a href>
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </a>
                    <a href>
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="title">Lorem Ipsum Worksem</div>
                <div class="assignee">
                  <img src="https://api.adorable.io/avatars/285/hone-<%= :rand.uniform(25) %>@tickets.png" />
                </div>
                <div class="badges">
                  <div class="badge">5</div>
                  <div class="badge">B</div>
                </div>
              </div>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>

        <div class="settings">
          <div class="pure-form pure-form-stacked">
            <div class="banner">
              <h3><i class="fa fa-filter" aria-hidden="true"></i></h3>
            </div>
            <fieldset>
              <%# <div class="pure-g">
                <legend>Settings</legend> %>
                <%# <div class="pure-u-1-2">
                  <label for="board">Board</label>
                </div>
                <div class="pure-u-2-2">
                  <select id="board">
                    <option>Foo</option>
                    <option>Bar</option>
                    <option>Baz</option>
                  </select>
                </div>
                <div class="pure-u-1-2">
                  <label for="assignee">Assignee</label>
                </div>
                <div class="pure-u-2-2">
                  <select id="assignee">
                    <option>None</option>
                    <option>Bob</option>
                    <option>Darla</option>
                  </select>
                </div>
                <div class="pure-u-1-2">
                  <label for="milestone">Milestone</label>
                </div>
                <div class="pure-u-2-2">
                  <select id="milestone">
                    <option>None</option>
                    <option>1.15.17</option>
                    <option>2.1.17</option>
                  </select>
                </div>
              </div> %>
              <label for="project">
                <i class="fa fa-building" aria-hidden="true"></i> Project
              </label>
              <select id="project">
                <option>Project A</option>
                <option>Project B</option>
                <option>Project C</option>
              </select>

              <label for="board">
                <i class="fa fa-thumb-tack" aria-hidden="true"></i> Board
              </label>
              <select id="board">
                <option>Foo</option>
                <option>Bar</option>
                <option>Baz</option>
              </select>

              <label for="stages">
                <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Stages
              </label>
              <select id="stages">
                <option>Any</option>
                <option>Backlog</option>
                <option>Developing</option>
              </select>

              <label for="levels">
                <i class="fa fa-cube" aria-hidden="true"></i> Level
              </label>
              <select id="levels">
                <option>Any</option>
                <option>Epic</option>
                <option>Story</option>
                <option>Task</option>
              </select>

              <label for="milestone">
                <i class="fa fa-flag-checkered" aria-hidden="true"></i> Milestones
              </label>
              <select id="milestone">
                <option>Any</option>
                <option>None</option>
                <option>1.15.17</option>
                <option>2.1.17</option>
              </select>

              <label for="assignee">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i> Assignees
              </label>
              <select id="assignee">
                <option>Any</option>
                <option>None</option>
                <option>Bob</option>
                <option>Darla</option>
              </select>

              <hr/>

              <label for="keywords">
                <i class="fa fa-key" aria-hidden="true"></i> Keywords
              </label>
              <input id="keywords" type="text" />

              <label for="tags">
                <i class="fa fa-tags" aria-hidden="true"></i> Tags
              </label>
              <input id="tags" type="text" />
            </fieldset>
            <%# <hr/>
            Scrolling:
            <p>
              Columns: <input type="checkbox"/>
              Board: <input type="checkbox"/>
            </p> %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
