<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Hone</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
    <%# <link rel="stylesheet" href="<%= static_path(@conn, "/css/lib/font-awesome.min.css") %1>"> %>
    <%# <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"> %>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/lib/pure-min.css") %>">
    <%# <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css"> %>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/lib/grids-responsive-min.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Exo|Nunito" rel="stylesheet">
    <script src="<%= static_path(@conn, "/js/app.js") %>" async defer></script>
  </head>

  <body>
    <div id="layout">
      <div id="menu">
        <div class="pure-menu">
          <a class="pure-menu-heading" href="#">hone</a>

          <ul class="pure-menu-list">
            <li class="pure-menu-item">
              <a href="#" class="pure-menu-link">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </a>
            </li>
            <li class="pure-menu-item">
              <a href="#" class="pure-menu-link">
                <i class="fa fa-search" aria-hidden="true"></i>
              </a>
            </li>
            <li class="pure-menu-item" class="menu-item-divided pure-menu-selected">
              <a href="#" class="pure-menu-link">
                <i class="fa fa-tags" aria-hidden="true"></i>
              </a>
            </li>
            <li class="pure-menu-item" class="menu-item-divided pure-menu-selected">
              <a href="#" class="pure-menu-link">
                <i class="fa fa-comments-o" aria-hidden="true"></i>
              </a>
            </li>
            <li class="pure-menu-item">
              <a href="#" class="pure-menu-link">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </li>
            <li class="pure-menu-item">
              <a href="#" class="pure-menu-link">
                <i class="fa fa-cogs" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div id="main">
        <!-- TODO: might be better to re-do this as `display: table` to easily allow sticky menus -->
        <div class="board">
          <div class="stage">
            <div class="label">
              <h3>Product Review</h3>
            </div>
            <div class="unit">
              <div class="banner">
                <div class="id">#123</div>
                <div class="controls">
                  <a href>
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </a>
                  <a href>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <div class="title">Lorem Ipsum Worksem</div>
              <div class="assignee">
                <img src="https://api.adorable.io/avatars/285/hone@tickets.png" />
              </div>
              <div class="badges">
                <div class="badge">5</div>
                <div class="badge">B</div>
              </div>
            </div>
          </div>
          <div class="stage">
            <div class="label">
              <h3>Technical Review</h3>
            </div>
          </div>
          <div class="stage">
            <div class="label">
              <h3>Backlog</h3>
            </div>
          </div>
          <div class="stage">
            <div class="label">
              <h3>Developing</h3>
            </div>
          </div>
          <div class="stage">
            <div class="label">
              <h3>Dev Complete</h3>
            </div>
          </div>
          <div class="stage">
            <div class="label">
              <h3>PR Open</h3>
            </div>
          </div>
          <div class="stage">
            <div class="label">
              <h3>Merged</h3>
            </div>
          </div>
          <div class="stage">
            <div class="label">
              <h3>In Testing</h3>
            </div>
          </div>
          <div class="stage">
            <div class="label">
              <h3>Closed</h3>
            </div>
          </div>
        </div>
        <%# <div class="browse"> %>
        <%#   Browsing %>
        <%# </div> %>
      </div>
    </div>
  </body>
</html>
